* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EBF4F6;
}

@font-face {
    font-family: 'Nav';
    src: url('../font/RedHatDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 30); /* Azul oscuro */
    padding: 0px 50px; /* Incrementar el padding para hacer el navbar más grande */
}

.navbar .logo img {
    height: 120px; /* Ajustar el tamaño de la imagen del logo */
    width: auto;  /* Mantener la proporción de la imagen */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px; /* Incrementar el espacio entre los elementos del menú */
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 24px; /* Incrementar el padding para hacer los enlaces más grandes */
    transition: background-color 0.3s ease;
    font-family: 'Nav', sans-serif;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}


.content {
    padding: 20px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.contact-left {
    flex: 1;
    margin-top: 100px;
    background-color: rgb(17, 17, 30);
    margin-left: 300px;
    margin-right: 200px;
    margin-bottom: 350px;
    border-radius: 8px;
    padding-bottom: 20px;
}

.contact-left h2{
    margin-bottom: 30px;
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
}

.contact-left p{
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: flex-start;
    padding-left: 80px;
}

.contact-form {
    flex: 1;
    max-width: 400px;
    margin-left: 400px;
}

.contact-form form {
    display: grid;
    gap: 10px;
    margin-left: -400px;
    margin-right: 300px;
}

.contact-form form label {
    font-weight: bold;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form form button {
    padding: 10px 20px;
    background-color: rgb(17, 17, 30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #575757;
}

.map {
    margin-top: -100px;
    text-align: center;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
}

.footer {
    background-color: rgb(17, 17, 30); /* Mismo color que el navbar */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Cambiamos a posición fija */
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}