* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EBF4F6;
    overflow-x: hidden; /* Prevenir el desplazamiento horizontal */
}

@font-face {
    font-family: 'Nav';
    src: url('../font/RedHatDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 30); /* Azul oscuro */
    padding: 0px 50px; /* Incrementar el padding para hacer el navbar más grande */
}

.navbar .logo img {
    height: 120px; /* Ajustar el tamaño de la imagen del logo */
    width: auto;  /* Mantener la proporción de la imagen */
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    font-family: 'Nav', sans-serif;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.content {
    padding: 20px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.contact-left {
    width: 100%;
    max-width: 550px;
    background-color: rgb(17, 17, 30);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 400px;
    margin-right: 300px;
    margin-left: 250px;
    margin-top: 100px;
}

.contact-left h2 {
    margin-bottom: 30px;
    font-size: 40px;
    color: #ffffff;
}

.contact-left p {
    margin-bottom: 10px;
    color: #ffffff;
    text-align: left; /* Texto alineado a la izquierda */
    padding-left: 100px;
}

.contact-form {
    width: 100%;
    max-width: 600px;
}

.contact-form form {
    display: grid;
    gap: 10px;
}

.contact-form form label {
    font-weight: bold;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form form button {
    padding: 10px 20px;
    background-color: rgb(17, 17, 30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #575757;
}

.map {
    margin-top: -180px;
    text-align: center;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 8px;
}

.footer {
    background-color: rgb(17, 17, 30); /* Mismo color que el navbar */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Cambiamos a posición fija */
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none; /* Ocultamos el menú por defecto */
        position: absolute; /* Posicionamos el menú fuera del flujo normal */
        top: 60px; /* Ajusta según el alto de tu navbar */
        left: 0; /* Alinea el menú al borde izquierdo */
        background-color: rgb(17, 17, 30); /* Fondo del menú desplegado */
        border-bottom: 2px solid #575757; /* Opcional: Línea de separación */
        z-index: 1000; /* Asegura que el menú esté por encima del contenido */
    }

    .nav-links li {
        margin: 10px 0;
        width: 100%;
        text-align: center; /* Centra el texto en los ítems del menú */
    }

    .nav-links a {
        width: 100%;
        display: block; /* Asegura que los enlaces ocupen todo el ancho del contenedor */
        padding: 15px 0; /* Añade algo de espacio arriba y abajo */
    }

    .navbar.active .nav-links {
        display: flex; /* Mostramos el menú cuando se activa */
    }

    .content {
        padding: 10px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-left,
    .contact-form {
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    .map {
        margin-top: 0px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0 10px;
    }

    .footer-content {
        font-size: 16px;
    }
}
