* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EBF4F6; /* Color de fondo que combina bien con el azul oscuro */
}

@font-face {
    font-family: 'Nav';
    src: url('../font/RedHatDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 30); /* Azul oscuro */
    padding: 0px 50px; /* Incrementar el padding para hacer el navbar más grande */
}

.navbar .logo img {
    height: 120px; /* Ajustar el tamaño de la imagen del logo */
    width: auto;  /* Mantener la proporción de la imagen */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px; /* Incrementar el espacio entre los elementos del menú */
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 24px; /* Incrementar el padding para hacer los enlaces más grandes */
    transition: background-color 0.3s ease;
    font-family: 'Nav', sans-serif;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

@font-face {
    font-family: 'Hero';
    src: url('../font/RedHatDisplay-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeroDesc';
    src: url('../font/RedHatDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hero-section {
    display: flex;
    align-items: center;
    padding: 40px;
    padding-left: 250px;
    gap: 200px;
    background-color: rgb(49, 115, 146); /* Azul oscuro */
}

.hero-image {
    max-width: 45%;
    height: auto;
    border-radius: 20px;
    margin-right: -4px; /* Mover la imagen un poco más a la izquierda */
    margin-top: -20px; /* Ajustar el margen superior si es necesario */
}

.hero-text {
    text-align: center;
    max-width: 45%;
    color: #EBF4F6; /* Asegurarse de que el texto sea blanco para contrastar con el fondo azul */
}

.hero-align {
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: flex-start; /* Alinear los elementos desde el mismo punto */
}

.hero-text .tit {
    font-size: 83px;
    margin: 0;
    font-family: 'Hero', sans-serif;
    line-height: 1;
}

.hero-text .desc{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'HeroDesc', sans-serif;
    margin-top: 8px;
}

.hero-text h5 {
    font-size: 50px;
}

.content {
    padding: 20px;
    text-align: center;
    color: #333; /* Color de texto que contraste con el fondo */
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    max-width: calc(33% - 40px);
    margin-bottom: 20px; /* Añadimos margen inferior para separar las tarjetas */
}

.card img {
    width: 100%;
    height: 400px; /* Ajustamos la altura de la imagen */
    object-fit: cover; /* Para asegurar que la imagen se ajuste correctamente */
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 18px; /* Reducimos el tamaño del título */
    margin: 10px 0;
    margin-bottom: 20px;
    color: #071952;
}

.card p {
    padding-bottom: 10px;
}

.card hr {
    width: 80%; /* Ajustamos la longitud horizontal de la línea */
    height: 1px; /* Grosor de la línea */
    margin: 10px auto; /* Centramos la línea horizontalmente */
    opacity: 40%;
    margin-bottom: 20px;
}


.footer {
    background-color: rgb(17, 17, 30); /* Mismo color que el navbar */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Cambiamos a posición fija */
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.blue-block {
    background-color: rgb(49, 115, 146); /* Color azul oscuro */
    color: white;
    text-align: center;
    padding: 80px 356px;
    margin: 0 auto; /* Centrado horizontal */
    max-width: 90%; /* Ancho máximo del bloque */
    border-radius: 8px;
    margin-bottom: 40px; /* Margen inferior */
}

.blue-block h2 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: -20px;
}

.blue-block p {
    font-size: 16px;
    line-height: 1.6;
}

.image-block .horario {
    border-radius: 8px;
}